@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css);

.theme-dark {
    --saturation-modifier: 0.175;
    --lightness-modifier: 0.2;
}

.theme-light {
    --saturation-modifier: 0.4;
    --lightness-modifier: 2.175;
}
